---
layout: archive
title: "Competitions"
permalink: /talks/
author_profile: true
---

<P>
· 首届重庆市青年美术作品展览，重庆市美术家协会，2025<br/>
· 首届中国数字艺术设计大赛，中国美术家协会，2024<br/>
· 第二届福田时尚创意设计周中国服装设计作品邀请展，全国艺术专业学位研究生教育指导委员会，2024<br/>
· 第二届福田时尚创意设计周国际著名院校时装画特邀展，全国艺术专业学位研究生教育指导委员会，2024<br/>
· 第三届东方创意之星设计大赛，工业和信息化部国际经济技术合作中心，2022<br/>
· 第六届大学生艺术展演活动，重庆市教育委员会，2020<br/>
· 大学生中华魂主题教育活动征文比赛，重庆市教育委员会，2019<br/>
· 第八届汇创青春上海大学生文化创意作品展示活动，上海市教育委员会，2023<br/>
· 第二届国际大学生艺术年度奖，台北市政府教育局，2020<br/>
· 裘都杯中国裘皮服装创意设计大赛，中国服装协会，2020<br/>
· 大学生纺织类非物质文化遗产创意创新作品大赛，中国纺织服装教育学会，2023<br/>
· 第七届胜家杯中国拼布创意设计大赛，中国纺织服装教育学会，2021<br/>
· 鲁渝协作乡村振兴人才发展基金项目设计大赛，彭水苗族土家族自治县乡村振兴局、人力资源社会保障局，2022<br/>
· 第三届学生美术作品双年展，西南大学，2023<br/>
· 第九届本科非师范专业学生专业技能展示活动，重庆师范大学，2019<br/>
<P/>

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
