---
layout: archive
title: "main competitions"
permalink: /talks/
author_profile: true
---

<P>
1. 首届重庆市青年美术作品展览（入选），重庆市美术家协会，2025<br/>
2. 首届中国数字艺术设计大赛（入选），中国美术家协会，2024<br/>
3. 第八届汇创青春上海大学生文化创意作品展示活动（三等），上海市教育委员会，2023<br/>
4. 鲁渝协作乡村振兴人才发展基金项目设计大赛（优秀），彭水苗族土家族自治县乡村振兴局、人力资源社会保障局，2022<br/>
5. 第七届胜家杯中国拼布创意设计大赛（入选），中国纺织服装教育学会，2021<br/>
6. 第六届大学生艺术展演活动（一等），重庆市教育委员会，2020<br/>
7. 裘都杯中国裘皮服装创意设计大赛（最佳），中国服装协会，2020<br/>
8. 大学生中华魂主题教育活动征文比赛（一等），重庆市教育委员会，2019<br/>
<P/>

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
