---
layout: archive
title: "  "
permalink: /publications/
author_profile: true
---

· Yu Zhao, Zhou Li, Wenliang Li, Zirui Huang. Developing an innovative design model for Xinjiang brocades based on design thinking[J]. Thinking Skills and Creativity, 2025: 101780.（SSCI）
· Yu Zhao, Zhou Li, Wenliang Li, Junling Liu. Developing an ontological model for Xinjiang unearthed brocades[J]. Heritage Science, 2024, 12(1): 1-13.（SCIE/AHCI）
· Yu Zhao, Zhou Li, Wenliang Li, Junling Liu. An approach to the emotional design of female nursing scrubs[J]. Textile Research Journal, 2024, 94(21-22): 2351-2362.（SCIE）
· Yu Zhao, Yan Cheng, Feng Zhou, Zhou Li, Yi Xiang. Dynamic modeling of deformation in traditional smocking in apparel[J]. Textile Research Journal, 2024: 00405175241290436.（SCIE）
· Zhou Li, Zirui Huang, Yan Cheng, Yu Zhao. Analysis and Application of Basic Elements in Kazakh Embroidery Patterns[J]. Journal of Textile Science & Fashion Technology, 2024, 11(1): 1-4.
· Zhou Li, Yan Cheng, Yu Zhao. Semantic analysis and quantitative application of Xinjiang unearthed brocade patterns[J]. Trends in Textile Engineering & Fashion Technology, 2023, 9(3): 1082-1085.
· 李文亮, 黎洲, 赵雨. 基于多模态语义融合的新疆出土织锦图案量化模型构建与评估[J].丝绸, 2025,(06).（北大核心）
· 张羽翔, 黎洲, 赵雨.“五星出东方利中国”织锦元素在现代服装设计中的创新应用[J].服装设计师,2024,(04):49-53.
· 黎洲, 周福英. 羌族服饰元素在现代服装设计中的应用[J].轻纺工业与技术,2022,51(04):72-74.
· 赵雨, 周凤, 黎洲, 朱芸琪. 病号服，外观设计专利，2024.



{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



