---
layout: archive
title: "  "
permalink: /teaching/
author_profile: true
---

<P>
1. <b>[主持]</b>大学生创新创业训练计划，重庆市教育委员会，绣韵文化创意工作室——5G时代背景下蜀绣产品的当代设计与营销研究，2020-11至2021-11，结题<br/>
2. <b>[主持]</b>西南大学研究生科研创新项目，西南大学，新疆出土织锦知识体系构建下的虚拟仿真技术研究，2024-06至2026-06，结题<br/>
3. [主研]边疆中华文史研究中心开放课题重点项目，新疆维吾尔自治区普通高校人文社会科学重点研究基地，新疆出土织锦服饰的中华文化元素数字化规整研究，2022-09至2024-12<br/>
4. [主研]教育部人文社科青年项目，教育部，医患服装对医疗救治的情感影响机制、干预模式及创新设计研究，2021-07至2024-06<br/>
5. [主研]重庆市雏鹰计划项目，重庆市教育委员会，出土北宋服装残片的三维虚拟复原及多模态智能交互研究，2024-07至2025-07<br/>
<P/>

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
